<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danny.hongtu.mapper.FactionMapper">
	<insert id="insertOne"  useGeneratedKeys="true" keyProperty="licenseId">
        insert into t_faction (factionName,factionUser,factionClassify,totalSize,synopsis,newCatalogue,coverImg)
        values (#{factionName},#{factionUser},#{factionClassify},#{totalSize},#{synopsis},#{newCatalogue},#{coverImg})
    </insert>

	<select id="findAll" resultType="com.danny.hongtu.bean.FactionDetailBean">
		select * from t_faction
	</select>
</mapper>
